<app-navbar class="relative z-20 left-0 flex justify-center"></app-navbar>

<!-- <app-particles></app-particles> -->

<section
  id="home"
  class="relative home px-[10%] pt-[23vh] pb-[20vh] text-secondary flex justify-between items-center"
>
  <div class="absolute -z-10 min-h-screen h-full w-full left-0">
    <img
      alt=""
      sizes="100vw"
      src="../../assets/images/herobgc.webp"
      decoding="async"
      data-nimg="fill"
      class="object-bottom"
      loading="lazy"
      style="
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0px;
        object-fit: cover;
        color: transparent;
      "
    />
  </div>
  <img
    src="../../assets/images/bgHome.svg"
    alt="bg"
    class="animated-svg absolute hidden md:block right-0 bottom-0 opacity-25 lg:opacity-60"
  />

  <div class="welcome">
    <div class="font-bold">
      <h1>Hi There!</h1>
      <h1>
        I'm <span class="text-tertiary">{{ dataArray.name }}</span>
      </h1>
    </div>
    <div class="skills flex">
      <span class="pr-3"> I am into </span>
      <ngx-typed-js
        [strings]="dataArray.skillArray"
        [loop]="true"
        [showCursor]="true"
        [typeSpeed]="50"
        [backSpeed]="50"
      >
        <span class="typing text-[#940808]"></span>
      </ngx-typed-js>
    </div>
    <div>
      <button (click)="toAbout()" class="py-2 px-5 bg-white rounded-[20px]">
        About Me
      </button>
    </div>
    <div class="socialIcons">
      <ul class="flex gap-[10px]">
        <li class="">
          <a
            class="bg-primary rounded-[50%] w-[45px] h-[45px] list-none flex items-center justify-center cursor-pointer"
            [href]="dataArray.social.linkedin"
            target="_blank"
            ><i class="fa-brands fa-linkedin text-[#00d9ff]"></i>
          </a>
        </li>
        <li class="">
          <a
            class="bg-primary rounded-[50%] w-[45px] h-[45px] list-none flex items-center justify-center cursor-pointer"
            [href]="dataArray.social.github"
            target="_blank"
            ><i class="fa-brands fa-github text-[#00d9ff]"></i
          ></a>
        </li>
        <li class="">
          <a
            class="bg-primary rounded-[50%] w-[45px] h-[45px] list-none flex items-center justify-center cursor-pointer"
            [href]="dataArray.social.twitter"
            target="_blank"
            ><i class="fa-brands fa-twitter text-[#00d9ff]"></i
          ></a>
        </li>
        <li class="">
          <a
            class="bg-primary rounded-[50%] w-[45px] h-[45px] list-none flex items-center justify-center cursor-pointer"
            [href]="dataArray.social.instagram"
            target="_blank"
            ><i class="fa-brands fa-instagram text-[#00d9ff]"></i
          ></a>
        </li>
        <li class="">
          <a
            class="bg-primary rounded-[50%] w-[45px] h-[45px] list-none flex items-center justify-center cursor-pointer"
            [href]="dataArray.social.telegram"
            target="_blank"
            ><i class="fa-brands fa-telegram text-[#00d9ff]"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="picture w-[35%] relative">
    <div>
      <img
        class="rounded-[50%]"
        src="../../assets/images/data/{{ dataArray.profile }}"
        alt="pic"
      /></div>
    <div class="absolute animate-bounce flex justify-center items-center shadow-sm shadow-[grey] bg-[#fff3cc] p-4 w-[70px] rounded-full top-10 -right-24">
      <img  src="../../assets/images/firebase.webp" alt="fb">
    </div>
    <div class="absolute animate-bounce flex justify-center items-center shadow-sm shadow-[grey] bg-[#cde7f6] p-4 w-16 rounded-full -top-8 -left-10">
      <img  src="../../assets/images/material-ui.webp" alt="md">
    </div>
    <div class="absolute animate-bounce flex justify-center items-center shadow-sm shadow-[grey] bg-[#bad6f1] p-4 w-16 rounded-full top-1/2 -right-28">
      <img  src="../../assets/images/typescript.webp" alt="ts">
    </div>
    <div class="absolute animate-bounce flex justify-center items-center shadow-sm shadow-[grey] bg-[#c5e8f1] p-4 w-14 rounded-full -bottom-20 right-20">
      <img  src="../../assets/images/tailwindcss.webp" alt="tws">
    </div>

  </div>
</section>

<section class="about px-[20vw] pb-10 mb-20" id="aboutme">
  <!-- <img src="../../assets/images/new.svg" alt="ul"  class="w-40"/> -->

  <div class="mb-10 relative text-center text-[24px] flex flex-col items-center">
    <span class="" #aboutMeWidth>ABOUT ME</span>
    <app-svg [width]="getAboutMeWidth()" class=""></app-svg>

  </div>

  <div class="details mb-4">
    <span class="name block">I'm {{ dataArray.fname }}</span>
    <span class="">{{ dataArray.skill }}</span>
  </div>
  <div class="bio mb-4">
    <span> {{ dataArray.description }} </span>
  </div>
  <div class="details mb-6">
    <div class="mail"><span class="">Email: </span>{{ dataArray.mail }}</div>
    <div class="place"><span class="">Place: </span>{{ dataArray.place }}</div>
  </div>
  <div class="resumeButton">
    <button class="py-2 px-5 rounded-[20px] border-2 border-tertiary">
      View Resume
    </button>
  </div>
</section>

<section class="skills mb-20" id="skills">
  <!-- Other content -->
  <div class="relative mb-20 lg:container sm:mx-4 lg:mx-auto lg:w-5/6 2xl:w-3/4 wrap overflow-hidden p-4 md:py-10 md:px-0">
    <div class="left-6 md:left-1/2 absolute border-opacity-20 border-gray-700 dark:border-grey-800 h-full border"></div>

    <!-- Frontend Technologies -->
    <div class="skills-category">
      <h2>Frontend Technologies</h2>
      <div class="skills-list">
        <div *ngFor="let technology of dataArray.stack.frontend.technologies" class="technology">
          <img [src]="'../../assets/images/' + technology.logo" [alt]="technology.name" />
          <span>{{ technology.name }}</span>
        </div>
      </div>
    </div>

    <!-- Backend Technologies -->
    <div class="skills-category">
      <h2>Backend Technologies</h2>
      <div class="skills-list">
        <div *ngFor="let technology of dataArray.stack.backend.technologies" class="technology">
          <img [src]="'../../assets/images/' + technology.logo" [alt]="technology.name" />
          <span>{{ technology.name }}</span>
        </div>
      </div>
    </div>

    <!-- Tools -->
    <div class="skills-category">
      <h2>Tools</h2>
      <div class="skills-list">
        <!-- Version Control -->
        <div *ngFor="let technology of dataArray.stack.tools.versionControl" class="technology">
          <img [src]="'../../assets/images/' + technology.logo" [alt]="technology.name" />
          <span>{{ technology.name }}</span>
        </div>
        <!-- Code Editor -->
        <div class="technology">
          <img [src]="'../../assets/images/' + dataArray.stack.tools.codeEditor.logo" [alt]="dataArray.stack.tools.codeEditor.name" />
          <span>{{ dataArray.stack.tools.codeEditor.name }}</span>
        </div>
        <!-- Deployment -->
        <div *ngFor="let technology of dataArray.stack.tools.deployment" class="technology">
          <img [src]="'../../assets/images/' + technology.logo" [alt]="technology.name" />
          <span>{{ technology.name }}</span>
        </div>
        <!-- Design Tools -->
        <div *ngFor="let technology of dataArray.stack.tools.designTools" class="technology">
          <img [src]="'../../assets/images/' + technology.logo" [alt]="technology.name" />
          <span>{{ technology.name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="education mb-20" id="education">
  <div class="text-center mb-12 text-[24px] relative flex flex-col items-center">
    <span #eduWidth class="">My Education</span>
    <app-svg [width]="getEducationWidth()"></app-svg>
  </div>
  <div class="mb-10 mt-2 text-center">
    <span class=""
      >Education is not the learning of facts, but the training of the mind to
      think.</span
    >
  </div>
  <div
    class="relative mb-20 lg:container sm:mx-4 lg:mx-auto lg:w-5/6 2xl:w-3/4 wrap overflow-hidden p-4 md:py-10 md:px-0"
  >
    <div
      class="left-6 md:left-1/2 absolute border-opacity-20 border-gray-700 dark:border-grey-800 h-full border"
    ></div>
    <div
      *ngFor="let item of dataArray.education; index as i"
      [class.flex-row-reverse]="i % 2 == 0"
      class="flex justify-between items-center w-full mb-10"
    >
      <div class="order-1 md:w-5/12"></div>
      <div
        class="bg-[#ddd6fe] flex items-center order-1 justify-center w-9 h-9 rounded-full ring-8 ring-[#f2f2f2]"
      >
        <img src="../../assets/images/edu.svg" alt="edu" />
      </div>
      <div
        class="bg-[#f1f1f1] items-center order-1 flex justify-between md:w-5/12 rounded-lg w-full ml-0 p-4"
      >
        <div class="flex justify-center flex-col w-[75%]">
          <h3 class="mb-2 font-medium text-xl">
            {{ item.school }}
          </h3>
          <span class="text-sm font-medium text-gray-700"
            >{{ item.field }} | {{ item.batch }}</span
          >
        </div>
        <div class="w-[20%] flex justify-center items-center">
          <img src="../../assets/images/data/{{ item.logo }}" alt="cse" />
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
