/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-primary: #060230;
    --bg-secondary: #002057;
    --text-primary: #fec903;
    /* --text-primary: #e6b42d; */
}


*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    /* font-family: "Poppins", cursive; */
    /* font-family: ; */
}

.scrollCSS::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}

.scrollCSS::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: var(--bg-secondary);
}

/* body::-webkit-scrollbar-track-piece{
    background-color: rgb(235, 202, 245);
} */